baseURL = "http://www.example.com"
title = "Blog"
# for smart copyright line, leave this blank and check [params.copyright]
copyright = ""

theme = "minimo"

Paginate = 10
preserveTaxonomyNames = true

enableRobotsTXT = true # generate robots.txt

# Syntax Highlighting ( https://gohugo.io/content-management/syntax-highlighting/ )
pygmentsCodefences = true

enableEmoji = true

# Missing translations will default to this content language
defaultContentLanguage = "en"

[params.info]
description = "Thoughts & Ideas"
title404 = "Nothing's here!"

[params.assets]
favicon = "favicon.ico"
customCSS = ["css/custom.css"]
customJS = ["js/custom.js"]
gopher = "" # used in 404 template ( Generator: https://gopherize.me )

[params.copyright]
prefix = ""
holder = "Ewen"
startYear = "2021"
suffix = ""

[params.settings]
# date & time format: https://golang.org/pkg/time/
dateFormat = "January 2006"
listDateFormat = "2006 - Jan"
archiveDateFormat = "January 2006"
hideEntryNavigation = ["page"] # boolean / array of sections
hideEntryMeta = ["page"] # boolean / array of sections
showReadingTime = true
showLastmod = true
taxonomyCloudShuffle = true
accentColor = "#854FD3"
hideMainMenu = false

[params.sidebar]
enable = true

[params.widgets]
header = []
homepage = ["recent_posts"]
sidebar = ["about", "search","sidebar_menu","taxonomy_cloud", "social_menu"]
footer = ["taxonomy_cloud"]

[params.seo]
# Title Separator: - – — · • * ⋆ | ~ « » < >
titleSeparator = "•"

[params.social]
github = "ewenquim"
gitlab = "ewenquim"

[params.search]
client = "fuse" # algolia / fuse / lunr

[params.search.algolia]
appId = ""
indexName = ""
searchApiKey = ""

[taxonomies]
author = "authors"
category = "categories"
series = "series"
tag = "tags"

[permalinks]
page = "/:slug/"

[blackfriday]
hrefTargetBlank = true

[languages]
# edit this block for your own language
[languages.en]
lang = "en"
languageName = "English"
weight = 1
