<div id="comments-section-custom"></div>

<script type="text/javascript" defer>
  console.log("hi");
  theme = "github-light";
  // If dark mode is selected, load dark mode comments
  if (localStorage.getItem("darkMode") === "true") {
    theme = "github-dark";
  }

  var scriptNode = document.createElement("script");
  scriptNode.setAttribute("src", "https://utteranc.es/client.js");
  scriptNode.setAttribute("repo", "EwenQuim/ewenquim.github.io");
  scriptNode.setAttribute("issue-term", "title");
  scriptNode.setAttribute("label", "comment");
  scriptNode.setAttribute("theme", theme);
  scriptNode.setAttribute("crossorigin", "anonymous");
  scriptNode.setAttribute("defer", "defer");

  document.getElementById("comments-section-custom").appendChild(scriptNode);
</script>
