/* Dark Background */
#dark-mode-switch:checked ~ .general-theme,
#dark-mode-switch:checked ~ .general-theme > div.site > #sidebar {
  background: #181812;
}
#dark-mode-switch:checked ~ .general-theme p > code {
  background-color: #333;
}

/* Text color */
#dark-mode-switch:checked ~ .general-theme main p,
.header-info,
#dark-mode-switch:checked ~ .general-theme > div.site > #sidebar,
#dark-mode-switch:checked
  ~ .general-theme
  > div.site
  section.widget.widget-taxonomy_cloud
  li
  > a,
#dark-mode-switch:checked
  ~ .general-theme
  div.site
  div#sidebar
  section.widget.widget-sidebar_menu
  a,
#dark-mode-switch:checked ~ .general-theme nav#main-menu,
#dark-mode-switch:checked ~ .general-theme nav#main-menu a {
  color: #ddd;
}

/* Important text accent */
#dark-mode-switch:checked ~ .general-theme main *,
#dark-mode-switch:checked
  ~ .general-theme
  header#header
  div.header-info
  h1.site-title.title,
#dark-mode-switch:checked ~ .general-theme > div.site .widget-title,
#dark-mode-switch:checked
  ~ .general-theme
  div.site
  div#sidebar
  section.widget.widget-sidebar_menu
  a:hover,
#dark-mode-switch:checked ~ .general-theme nav#main-menu a:hover {
  color: #fff;
}

html #dark-mode-switch:checked ~ .general-theme header h2.title.site-title a {
  color: var(--color-accent);
}

html
  #dark-mode-switch:checked
  ~ .general-theme
  header
  h2.title.site-title
  a:hover {
  color: #593292;
}

/* -------- Switch Styles ------------*/
#dark-mode-switch {
  display: none;
}
/* Toggle */
/* #dark-mode-switch:checked ~ .general-theme {
  background-color: #521;
  color: #ddd;
  transition: ease-in 1000ms;
} */
.fill-remaining-space {
  /*100% 
  - 5em for 5 lines min
  - 2em html top padding
  - 2em html bottom padding 
  - 1.5em margin-top
  - 10em 2 separator with 2.5em top/bottom each 
  - 1em copyright
  - 1em footer top margin
  */
  min-height: calc(100vh - 22.5em);
}
