p {
  font-family: "Spectral", Georgia;
}

@font-face {
  font-family: "Spectral";
  src: url("../fonts/Spectral-Regular.woff") format("woff"),
    url("../fonts/Spectral-Regular.ttf") format("truetype");
}
