/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: auto;
  padding: 0 10px;
  max-width: 40rem;
  text-align: left;
  background-color: #f6dab7;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #555;
  text-decoration: none;
}
article a {
  text-decoration: underline dashed;
  color: blue;
}
article a:visited {
  color: purple;
}
a.active {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
  color: black;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
hr {
  margin: 2rem 5rem;
  border: none;
  border-bottom: 1px solid #999;
}
/* Table styles */
table {
  border-collapse: collapse;
  border: 1px solid #999;
  border-radius: 1em;
}
th,
td {
  padding: 5px;
  text-align: center;
  border: 1px solid #999;
}
th {
  padding: 5px 10px;
  background-color: #eee;
}

td {
  border: 1px solid #999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
