---
import Header from "../components/Header.astro";
import { Image } from "astro:assets";
import ewen from "/public/ewen.jpg";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main
    class="h-[80vh] flex flex-col items-center justify-center gap-8 text-white"
  >
    <Image
      class="p-1 opacity-80 bg-white w-48 h-48 avatar rounded-full border border-sm border-white"
      src={ewen}
      alt="Ewen"
      quality={100}
      width={400}
      height={400}
    />

    <Header isTitle={true} />
  </main>
</MainLayout>
