---
const today = new Date();
---

<footer>
  <ul class="list-none pl-0 flex justify-center gap-2">
    <li>
      <a href="https://github.com/EwenQuim">GitHub</a>
    </li>
    <li>
      <a href="mailto:ewen.quimerch+hello-arob@se-gmail.com">Mail</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ewen-quimerch/">LinkedIn</a>
    </li>
    <li>
      <a href="/rss.xml">RSS</a>
    </li>
  </ul>
</footer>
<style>
  footer {
    text-align: center;
    padding: 2rem;
    color: gray;
    font-size: small;
    text-align: center;
  }
  a {
    color: #666;
  }

  a:hover {
    color: black;
  }
</style>
