---

---

<footer class="text-center p-8">
  <ul class="list-none pl-0 flex justify-center gap-2">
    <li>
      <a class="text-text-link-dark" href="https://github.com/EwenQuim"
        >GitHub</a
      >
    </li>
    <li>
      <a
        class="text-text-link-dark"
        href="#"
        data-contact="ZXdlbi5xdWltZXJjaCtoZWxsb0BAZ21haWxAY29t"
        data-subj="W0FOVEktU1BBTSBUQUddIEhlbGxvICE="
        onfocus="this.href = 'mailto:' + atob(this.dataset.contact) .replaceAll('@', '.').replaceAll('@.', '@') + '?subject=' + atob(this.dataset.subj || '')"
      >
        Email
      </a>
    </li>
    <li>
      <a
        class="text-text-link-dark"
        href="https://www.linkedin.com/in/ewen-quimerch/">LinkedIn</a
      >
    </li>
    <li>
      <a class="text-text-link-dark" href="/rss.xml">RSS</a>
    </li>
  </ul>
</footer>
