---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const { isTitle } = Astro.props;
---

<header class="text-center md:pt-4">
  <h2 class="font-bold">
    <a href="/">
      {SITE_TITLE}
    </a>
  </h2>
  {isTitle && <p class="italic mb-8">Centralien &middot; Software Engineer</p>}
  <nav class="my-4">
    <HeaderLink href="/articles">Articles</HeaderLink>
    &middot;
    <HeaderLink href="/nouvelles">Nouvelles</HeaderLink>
    &middot;
    <HeaderLink href="/projects">Projets</HeaderLink>
  </nav>
</header>
