---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="text-center flex flex-col gap-4 py-4 md:py-8">
  <h1 class="font-bold text-3xl text-white">
    <a href="/">
      {SITE_TITLE}
    </a>
  </h1>

  <nav>
    <HeaderLink href="/articles">Articles</HeaderLink>
    &middot;
    <HeaderLink href="/nouvelles">Nouvelles</HeaderLink>
    &middot;
    <HeaderLink href="/projects">Projets</HeaderLink>
    &middot;
    <HeaderLink href="/contact">Contact</HeaderLink>
  </nav>
</header>
