---
import BaseHead from "../components/BaseHead.astro";
import ListHeader from "../components/ListHeader.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Card from "./Card.astro";
import MainLayout from "./MainLayout.astro";

export interface Props {
  slug: string;
}

const { slug } = Astro.props;

const posts = (await getCollection(slug as "articles")).sort(
  (a, b) => (b.data.pubDate?.valueOf() || 0) - (a.data.pubDate?.valueOf() || 0)
);
---

<MainLayout title={`${slug.charAt(0).toUpperCase() + slug.slice(1)}`}>
  <ListHeader />
  <main>
    <section class="max-w-5xl mx-auto">
      <div class="space-y-6 md:space-y-8 pb-8">
        {posts.map((post) => <Card post={post} category={slug} />)}
      </div>
    </section>
  </main>
</MainLayout>
